<!-- Become a FabShop Section -->
<section id="fabshop">    
    <div class="container">
        
        <div class="row title">
            <div class="col-md-4 col-xs-3 text-center line">
            </div>
            <div class="col-md-4 col-xs-6 text-center">
                <h1 class="section-title">BECOME A FABSHOP</h1>
            </div>
            <div class="col-md-4 col-xs-3 text-center line">
            </div>
        </div> 

        <div class="row">
            <div class="col-md-4">
                <p class="large"> Join the network</p>
            </div>    
            <div class="col-md-8 left-line">
                <p class="quote"> We want to <b>welcome all FabLabs </b>around the world to become a part of the FabShop Network. </p> 
                <p class="quote"> <b>Sign up now</b> if your lab is interested in accepting the invitation!</p> 
                <div class="button">
                    <a class="btn btn-primary white" href="https://fabmarket.typeform.com/to/zzl1xC" data-mode="1" target="_blank">Fill the form</a>
                    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
                </div>    
            </div>    
        </div> 
        
    </div>   
</section>