<!--Manifesto Carousel -->

<div id="manifestoCarousel" class="carousel slide" >
    <!--Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#manifestoCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#manifestoCarousel" data-slide-to="1"></li>
        <li data-target="#manifestoCarousel" data-slide-to="2"></li>
        <li data-target="#manifestoCarousel" data-slide-to="3"></li>
        <li data-target="#manifestoCarousel" data-slide-to="4"></li>
        <li data-target="#manifestoCarousel" data-slide-to="5"></li>
        <li data-target="#manifestoCarousel" data-slide-to="6"></li>
    </ol> 

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../img/manifesto/0.svg');"></div>
            <!---<div class="carousel-caption"> <h2>Caption 1</h2></div>-->
        </div>

        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../img/manifesto/1.svg')"></div>
            <!--<div class="carousel-caption"><h2>Caption 2</h2></div>-->
        </div>

        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../img/manifesto/2.svg')"></div>
            
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../img/manifesto/3.svg')"></div>
            
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../img/manifesto/4.svg')"></div>
            <!--<div class="carousel-caption"><h2>Caption 3</h2></div>-->
        </div>

        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../img/manifesto/5.svg')"></div>
            <!--<div class="carousel-caption"><h2>Caption 3</h2></div>-->
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../img/manifesto/6.svg')"></div>
            <!--<div class="carousel-caption"><h2>Caption 3</h2></div>-->
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#manifestoCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#manifestoCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</div>

