 <!-- Posts layout -->
<section> 
	<div class="container-fluid" style="padding-bottom: 150px">
		 <div class = "row" style= "padding-top: 80px;"> 
		 	<div class="col-md-4">
			   	<h1 style="font-size: 66px; letter-spacing:1.2px; ">{{page.title}}</h1>
			</div>	
			<div class="col-md-8 text-center" style="background-color: #{{ site.color.primary}}; height:10px; margin:30px 0px 0px 0px;">
			</div>	
		</div>

		<div class = "row" style= "padding-top: 40px;"> 
		 	<div class="col-md-4" style="padding-right:100px;">
			   	<p class="large" style="margin-bottom: 0em;">{{content}}</p>
			    <p style="margin-bottom: 0em;"><b>Designer: </b> {{ page.designer}}</p>
			</div>	
			<div class="col-md-8">
			   {% include photo-gallery.html %}
			</div>	
		</div>

	</div>	
</section>