 <!-- Posts layout -->
<section> 
	<div class="container" style="padding-bottom: 150px">


		 <div class = "row" style= "padding-top: 80px;"> 
		 	<div class="col-md-4">
			   	<h1 style="font-size: 66px; letter-spacing:1.2px; ">{{page.title}}</h1>
			</div>	
			<div class="col-md-8 text-center" style="background-color: #{{ site.color.primary}}; height:10px; margin:30px 0px 0px 0px;">
			</div>	
		</div>

		<div class = "row" style= "padding-top: 40px;"> 
		 	<div class="col-md-4" style="padding-right:50px; padding-bottom: 180px;">

			   	<p class="large" style="margin-bottom: 0em;">{{content}}</p>
			    <p style="margin-bottom: 0em;"><b>Designer: </b> {{ page.designer}}</p>
			    <div style="height: 30px; border-bottom: 1px solid #{{ site.color.primary}};"> </div>

			    <div style="padding: 20px 0px 0px 0px;">
			   		<div style="width: 70%; float: left;"><p style="padding: 0px; margin: 0px;"><b>Ready for use</b></p></div> 
			   		<div style="width: 30%; float: left;"><p style="padding: 0px; margin: 0px;"><b>€{{page.rfuprice}}</b></p></div>
			   	</div>	


			   	 <div style="padding: 20px 0px 0px 0px;">
			   		<div style="width: 70%; float: left;"><p class="text-muted" style="font-size:14px;">Online purchase coming soon!</p></div>
			   		<div style="width: 30%; float: left;" data-toggle="modal" data-target="#useModal"><p><i class="fa fa-1x fa-info-circle"></p></i></div>
			    </div>

			    <div style="padding-top: 20px;">
			   		<div style="width: 70%; float: left;"> <p style="padding: 0px; margin: 0px;"><b>Ready for assembly</b></p></div> 
			   		<div style="width: 30%; float: left"><p style="padding: 0px; margin: 0px;"><b>€{{page.rfaprice}}</b></p></div>
			   	</div>	
			   		
			   	<div style="padding-top: 20px;">
			   		<div style="width: 70%; float: left;"><p class="text-muted" style="font-size:14px;">Online purchase coming soon!</p></div>
			   		<div style="width: 30%; float: left;" data-toggle="modal" data-target="#useModal"><p><i class="fa fa-1x fa-info-circle"></p></i></div>
			    </div>

			    <div style="padding-top: 20px;">
			   		<div style="width: 70%; float: left;"> <p style="padding: 0px; margin: 0px;"><b>Ready for fabrication</b></p></div> 
			   		<div style="width: 30%; float: left"><p style="padding: 0px; margin: 0px;"><b>€{{page.rffprice}}</b></p></div>
			   	</div>	

			   	<div style="padding-top: 20px;">
			   		<div style="width: 70%; float: left;"><p class="text-muted" style="font-size:14px;">Online purchase coming soon!</p></div>
			   		<div style="width: 30%; float: left;" data-toggle="modal" data-target="#useModal"><p><i class="fa fa-1x fa-info-circle"></p></i></div>
			   	</div>
			</div>	

			<div class="col-md-8">
			   {% include photo-gallery.html %}
			</div>	
		</div>


		<!--
		<div class="row" style="padding-bottom:40px; padding-top: 120px;">
	        <div class="col-md-4">
	            <h1 style="margin-top:0px;">Assembly instructions</h1>
	        </div>
        	<div class="col-md-2 text-center" style="background-color: #{{ site.color.primary}}; height:10px; margin:16px 0px;">
        	</div>
    	</div> 

		<div class = "row" style= "padding-top: 40px;"> 
			<img class = "assembly" src="{{page.assembly}}">
		</div> -->
		

	</div>	
</section>


<!-- Modals -->
<div id="useModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ready for Use</h4>
      </div>
      <div class="modal-body">
        <p>Once the order has been placed the product will be delivered within 10 days. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div id="assemblyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ready for assembly</h4>
      </div>
      <div class="modal-body">
        <p>Pre-fabricated parts are packaged and delivered with step by step assembly instructions. Once the order has been placed the parts will be delivered within 10 days.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div id="fabricationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ready for fabrication</h4>
      </div>
      <div class="modal-body">
        <p>Opensource files ready for fabrication in a local FabLab or a private lab. Once the order has been placed the download will be available.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>