<!-- SELL Section -->
<section id="sell">    
    <div class="container-fluid">
        
        <div class="row" style="padding-bottom:80px;">

            <div class="col-md-4 text-center" style="background-color: #{{ site.color.primary}}; height:10px; margin:16px 0px;">
            </div>
            <div class="col-md-4 text-center">
                <h1 style="margin-top:0px;">SELL YOUR DESIGN</h1>
            </div>
            <div class="col-md-4 text-center" style="background-color: #{{ site.color.primary}}; height:10px; margin:16px 0px;">
            </div>

        </div> 

        <div class="row">
            <div style="min-height: 400px; background-image: url(../img/wedontlike.png); background-position: center center; background-attachment: scroll; background-size: cover;"> </div>  

        </div>    

        <div class="row">
            <div class="col-lg-12">
                <p class="quote" style="padding-left:25px; padding-top:60px;"> Fab Market wants to offer <b>good designs made to last </b>and therefore all products need to be approved and tested before going on sale. Products have to be fairly easy to fabricate and come with step by step assembly instructions. </p> 
            </div>
        </div> 
        
        <div class="row"> 
            <div class="col-lg-12">
                <div class="text">
                    <a href="#what-full" class="btn btn-primary white right-align" style="margin: 20px 0px">Submit a design</a> 
                </div>  
            </div>     
        </div> 
    </div>   
</section>