<!-- Sell your design  Section -->
<section id="sell">    
    <div class="container-fluid">
        
        <div class="row" style="padding-bottom:80px;">

            <div class="col-md-4 text-center" style="background-color: #{{ site.color.primary}}; height:10px; margin:16px 0px;">
            </div>
            <div class="col-md-4 text-center">
                <h1 style="margin-top:0px;">SELL YOUR DESIGN</h1>
            </div>
            <div class="col-md-4 text-center" style="background-color: #{{ site.color.primary}}; height:10px; margin:16px 0px;">
            </div>

        </div> 

        <div class="row">
            <div style="min-height: 400px; background-image: url(../img/wedontlike.png); background-position: center center; background-attachment: scroll; background-size: cover;"> </div>  

        </div>    

        <div class="row">
            <div class="col-md-4" style="margin-top:60px;">
                <p class="large"> Design <br> approval process</p>
            </div>    
            <div class="col-md-8" style="border-left: 1px solid #{{ site.color.primary}};margin-top:60px; margin-bottom:60px; ">
                <p class="quote" style="padding-left:25px;"> Fab Market wants to offer <b>good designs made to last </b>and therefore all products need to be approved and tested before going on sale. Products have to be fairly easy to fabricate and come with step by step assembly instructions. </p> 
                <p class="quote" style="padding-left:25px; padding-top:0px;"> Designers and makers can present their creations to the Fab Market, and once they are approved, they are invited to their local FabShop for <b>prototyping and testing.</b> </p> 
                <p class="quote" style="padding-left:25px; padding-top:0px;"> In exchange for excellence FabLab Barcelona will offer the creators <b>50% discount of fabrication</b> every time their product is sold. </p> 
                <a href="#what-full" class="btn btn-primary white" style="margin: 0px 20px">Propose a design </a>
            </div>    
            
        </div> 
        
        <div class="row"> 
            
        </div> 
    </div>   
</section>