<!-- Sell your design  Section -->
<section id="sell">    
    <div class="container">
        
        <div class="row title" style="padding-bottom: 10px;"> 
            <div class="col-md-4 col-xs-3 text-center line">
            </div>
            <div class="col-md-4 col-xs-6 text-center">
                <h1 style="margin-top:0px;">SELL YOUR DESIGN</h1>
            </div>
            <div class="col-md-4 col-xs-3 text-center line">
            </div>
        </div> 

        <div class="row title">
            <div style="min-height: 400px; background-image: url(../img/wedontlike.png); background-position: center center; background-attachment: scroll; background-size: cover;"> </div>  
        </div>    

        <div class="row" style="margin-bottom:60px;">
            <div class="col-md-4">
                <p class="large" style="font-weight:600;"> Design <br> approval process</p>
            </div>    
            <div class="col-md-8 left-line" >
                <p class="quote"> Fab Market wants to offer <b>good designs made to last </b>and therefore all products need to be approved and tested before going on sale. Products have to be fairly easy to fabricate and come with step by step assembly instructions. </p> 
                <p class="quote" style="padding-top:0px;"> Designers and makers can present their creations to the Fab Market, and once they are approved, they are invited to their local FabShop for <b>prototyping and testing.</b> </p> 
                <p class="quote" style="padding-top:0px;"> In exchange for excellence FabLab Barcelona will offer the creators <b> a special discount of fabrication</b> every time their product is sold. </p> 
                <a href="mailto:ingi@fablabbcn.org" class="btn btn-primary white" style="margin: 0px 20px">Submit a design </a>
            </div>    
        </div> 
        
    </div>   
</section>