<!-- Thank you callback Page -->

<section class="manifesto-what">
    <div class="container">
        <div class="row title-manifesto">
           <!--
            <div class="col-md-2 col-xs-4">
                <h1 class="section-title">WHAT</h1>
            </div>
            <div class="col-md-10 col-xs-8 text-center line">
            </div>
            -->
        </div> 

        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <h1 class="section-title"><b>Thank you for purchasing!</b> </h1>    
            </div>
        </br>
            <div class="col-md-12 col-xs-12 text-center">
                <p class="quote">We will contact you soon with the details of your order placement. If you have any questions regarding this order feel free to contact us at</p> <a href="mailto:market@fablabbcn.org"> <b>market@fablabbcn.org </a></b>
            </div>

        </div> 
    </div>   
</section>


<!--Why 
<section>
    <div class="container">
        <div class="row title-manifesto" >
            <div class="col-md-10 col-xs-8 text-center line">
            </div>
            <div class="col-md-2 col-xs-4">
                <h1 class="section-title" style="text-align:right;">WHY</h1>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <p class="quote"> With open source designs and distributed manufacturing, <b>quality products</b> can be customized, resourced, fabricated and sold locally. At the same time, this brings people closer to the fabrication of products.</p> 
                <p class="quote">Making <b>products that adapt</b> to people's needs, culture or taste —and giving the buyer direct contact with the supplier— increases <b>transparency</b> in the supply chain and gives the opportunity to know exactly who you are working with and how. 
                <p class="quote">The Fab Market wants to give talented creators, designers or makers a place where they can <b>fabricate</b> their creations for a <b>low price</b> and <b>sell globally</b> at the same time.</p> 
                <p class="quote">By <b>eliminating long distance shipping of materials and products,</b> both time and cost can be taken off the production process, giving room for <b>reducing</b> costs of the final product.</p>
            </div>
            <div class="col-md-3 text-center">
                <img class="manifesto-svg" src="/img/manifesto/why.svg">
            </div>

        </div> 
    </div>    
</section> -->



<!--How 
<section>
    <div class="container">
        <div class="row title-manifesto">
            <div class="col-md-2 col-xs-4">
                <h1 class="section-title">HOW</h1>
            </div>
            <div class="col-md-10 col-xs-8 text-center line">
            </div>
        </div> 

        <div class="row">
            <div class="col-md-3">
                <img class="manifesto-svg" style="max-width:230px" src="/img/manifesto/how.svg">
            </div>
            <div class="col-md-9 col-xs-12">
                <p class="quote"> We want to invite <b>all FabLabs around the world</b> to become a part of the Fab Market network in order to create a distributed economy. By working together, <b>sharing knowledge, equipment and customers,</b> creates the opportunity for scalability without a great amount of investment.</p> 
                <p class="quote">We enable makers and local Fablabs to manage the production and sale of their projects collaboratively with a <b>fair</b> split of the revenue.</p>
                <p class="quote">Fab Market wants to offer <b>good designs made to last</b> and there for all products need to be approved and tested before going on sale. Products have to be fairly easy to fabricate and come with step by step assembly instructions. <b>Anyone can propose designs</b> to sell at the Fab Market. In exchange for excellence Fab Labs give a special discount of the fabrication cost every time a product is sold.</p> 
                -->
                
                <!--
                <div class="button">
                     <a class="btn btn-primary white" style="margin: 0px 0px"  href="https://fabmarket.typeform.com/to/zzl1xC" data-mode="1" target="_blank">APPLY TO BECOME PART OF THE FABSHOP NETWORK</a>
                        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
                        </script>
                </div>  
                  
            </div>
        </div> 
    </div>  
</section>-->   

