<!-- What Section -->
<section id="what">    
    <div class="container">
        
        <div class="row title">
            <div class="col-md-2 col-xs-4">
                <h1 class="section-title">WHAT</h1>
            </div>
            <div class="col-md-10 col-xs-8 text-center line">
            </div>
        </div> 
        <div class="row">
            <div class="col-md-6 right-line">
               <p class="large"> The more you participate, <br> the less you pay </p>
               <p>Fab Market is an online market where you can find a variety of locally made products designed by people from all over the world. Products are sold ready for <b>use, assembly or fabrication </b>, giving the user the ability to participate in the making process. The more he participates, the less he pays for the products.</p>
            </div>
            <div class="col-md-6">
                <p class="quote"> With digital fabrication quality products can be customized, resourced, made and sold locally supporting communities, at the same time bringing the users closer to the making of the things they own. </p>
            </div>
        </div> 
        <div class="row"> 
            <div class="col-lg-12">
                <a href="/manifesto" class="btn btn-primary white right-align" style="margin: 40px 0px;">Read the full manifesto</a> 
            </div>     
        </div>   

    </div>   
</section>